html
        .page-fixed-main-content
            // BEGIN PAGE BASE CONTENT
            .note.note-info

                form#my-awesome-dropzone.dropzone(ref='uploadForm', action='/api/upload', method='post', enctype='multipart/form-data')
                    .fallback
                        input(type='file', name='file')
                        input(type='submit', value='Upload!')

            // END PAGE BASE CONTENT
        // BEGIN FOOTER
        p.copyright-v1
            | 2018 © Create by Tachid  
            a(target='_blank', href='https://github.com/Telexine/Node-GC-CI') Github
        // BEGIN QUICK SIDEBAR TOGGLER
        button.quick-sidebar-toggler(type='button', data-toggle='collapse')
            span.sr-only Toggle Quick Sidebar
            i.icon-logout
            .quick-sidebar-notification
                span.badge.badge-danger 7
        // END QUICK SIDEBAR TOGGLER
        a.go2top(href='#index')
            i.icon-arrow-up
        // END FOOTER AINER