body.page-md
    // BEGIN HEADER
    header#pageHeader.page-header
        nav.navbar(role='navigation')
            .container-fluid
                .havbar-header
                    // BEGIN LOGO
                    a#index.navbar-brand(href='/',style="padding-top: 20px; ")
                        | TeleXI
                    // END LOGO
                    // BEGIN TOPBAR ACTIONS
                    .topbar-actions
                        span#NAME.username(style="color:#aeb2c4;")
                        // END HEADER SEARCH BOX
                        // BEGIN USER PROFILE
                        .btn-group-img.btn-group
                            button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                            ul.dropdown-menu-v2(role='menu')
                                li
                                    a(href='javascript:;' onClick="firebase.auth().signOut();")
                                        i.icon-key
                                        |  Log Out
                        // END USER PROFILE
                    // END TOPBAR ACTIONS
            // /container
    // END HEADER