.row
  .col-md-12
    .portlet.light.portlet-fit.bordered
      .portlet-title
        .caption
          i.icon-cursor.font-dark.hide
          span.caption-subject.font-dark.bold.uppercase GC General Stats 
        .actions
          a.btn.btn-sm.btn-circle.red.easy-pie-chart-reload(href='javascript:;')
      .portlet-body
        canvas#memChart(width='400', height='300')
      .portlet-body
        canvas#nsChart(width='400', height='300')
      .portlet-body
        canvas#osChart(width='400', height='300')
      .portlet-body
        canvas#csChart(width='400', height='300')
      .portlet-body
        canvas#losChart(width='400', height='300')
      .portlet-body
        canvas#asChart(width='400', height='300')
    .portlet-title#Audit_port(style="display:hidden;")
      .caption
        i.icon-cursor.font-dark.hide
        span.caption-subject.font-dark.bold.uppercase  AUDIT
          iframe#Audit
      
      


