.row
  .col-md-12
    .portlet.light.portlet-fit.bordered
      .portlet-title
        .caption
          i.icon-cursor.font-dark.hide
          span.caption-subject.font-dark.bold.uppercase GC General Stats 
        .actions
          a.btn.btn-sm.btn-circle.red.easy-pie-chart-reload(href='javascript:;')
            i.fa.fa-repeat
            |  Reload
      .portlet-body
      #hc_mem(style='min-width: 310px; height: 400px; margin: 0 auto')
      


