.row
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    a.dashboard-stat.dashboard-stat-v2.blue(href="#")
      .visual
        i.fa.fa-comments
      .details
        .number
          span(data-counter="counterup" data-value="1349") 0
        .desc  New Feedbacks 
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    a.dashboard-stat.dashboard-stat-v2.red(href="#")
      .visual
        i.fa.fa-bar-chart-o
      .details
        .number
          span(data-counter="counterup" data-value="12,5") 0
          | M$
        .desc  Total Profit 
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    a.dashboard-stat.dashboard-stat-v2.green(href="#")
      .visual
        i.fa.fa-shopping-cart
      .details
        .number
          span(data-counter="counterup" data-value="549") 0
        .desc  New Orders 
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    a.dashboard-stat.dashboard-stat-v2.purple(href="#")
      .visual
        i.fa.fa-globe
      .details
        .number
          | +
          span(data-counter="counterup" data-value="89")
          | %
        .desc  Brand Popularity 
.clearfix
// END DASHBOARD STATS 1
