html
		// BEGIN CONTAINER
		#mainContainer.container-fluid.blur
			.page-content.page-content-popup
				.page-content-fixed-header
					// BEGIN BREADCRUMBS
					ul.page-breadcrumb
						li
							a(href='#') Create Unit Test
					// END BREADCRUMBS
					.content-header-menu
						// BEGIN DROPDOWN AJAX MENU
						.dropdown-ajax-menu.btn-group
							button.btn.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
								i.fa.fa-circle
								i.fa.fa-circle
								i.fa.fa-circle
							ul.dropdown-menu-v2
								li
									a(href='start.html') Application
								li
									a(href='start.html') Reports
								li
									a(href='start.html') Templates
								li
									a(href='start.html') Settings
						// END DROPDOWN AJAX MENU
						// BEGIN MENU TOGGLER
						button.menu-toggler.responsive-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.toggle-icon
								span.icon-bar
								span.icon-bar
								span.icon-bar
						// END MENU TOGGLER
				.page-sidebar-wrapper
					// BEGIN SIDEBAR
					// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
					// DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
					.page-sidebar.navbar-collapse.collapse
						// BEGIN SIDEBAR MENU
						// DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
						// DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
						// DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
						// DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
						// DOC: Set data-keep-expand="true" to keep the submenues expanded
						// DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
						ul.page-sidebar-menu.page-header-fixed(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
							li.nav-item.start
								a.nav-link.nav-toggle(href='javascript:;')
									i.icon-home
									span.title Dashboard
									span.arrow
								ul.sub-menu
									li.nav-item.start
										a.nav-link(href='index.html')
											i.icon-bar-chart
											span.title Dashboard
							li.heading
								h3.uppercase Features
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									i.icon-user
									span.title User
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='page_user_profile_1.html')
											i.icon-user
											span.title Profile 1
									li.nav-item
										a.nav-link(href='page_user_profile_1_account.html')
											i.icon-user-female
											span.title Profile 1 Account
									li.nav-item
										a.nav-link(href='page_user_profile_1_help.html')
											i.icon-user-following
											span.title Profile 1 Help
									li.nav-item
										a.nav-link(href='page_user_profile_2.html')
											i.icon-users
											span.title Profile 2
									li.nav-item
										a.nav-link.nav-toggle(href='javascript:;')
											i.icon-notebook
											span.title Login
											span.arrow
										ul.sub-menu
											li.nav-item
												a.nav-link(href='page_user_login_1.html', target='_blank')  Login Page 1
											li.nav-item
												a.nav-link(href='page_user_login_2.html', target='_blank')  Login Page 2
											li.nav-item
												a.nav-link(href='page_user_login_3.html', target='_blank')  Login Page 3
											li.nav-item
												a.nav-link(href='page_user_login_4.html', target='_blank')  Login Page 4
											li.nav-item
												a.nav-link(href='page_user_login_5.html', target='_blank')  Login Page 5
											li.nav-item
												a.nav-link(href='page_user_login_6.html', target='_blank')  Login Page 6
									li.nav-item
										a.nav-link(href='page_user_lock_1.html', target='_blank')
											i.icon-lock
											span.title Lock Screen 1
									li.nav-item
										a.nav-link(href='page_user_lock_2.html', target='_blank')
											i.icon-lock-open
											span.title Lock Screen 2
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									i.icon-social-dribbble
									span.title General
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='page_general_about.html')
											i.icon-info
											span.title About
									li.nav-item
										a.nav-link(href='page_general_contact.html')
											i.icon-call-end
											span.title Contact
									li.nav-item
										a.nav-link.nav-toggle(href='javascript:;')
											i.icon-notebook
											span.title Portfolio
											span.arrow
										ul.sub-menu
											li.nav-item
												a.nav-link(href='page_general_portfolio_1.html')  Portfolio 1
											li.nav-item
												a.nav-link(href='page_general_portfolio_2.html')  Portfolio 2
											li.nav-item
												a.nav-link(href='page_general_portfolio_3.html')  Portfolio 3
											li.nav-item
												a.nav-link(href='page_general_portfolio_4.html')  Portfolio 4
									li.nav-item
										a.nav-link.nav-toggle(href='javascript:;')
											i.icon-magnifier
											span.title Search
											span.arrow
										ul.sub-menu
											li.nav-item
												a.nav-link(href='page_general_search.html')  Search 1
											li.nav-item
												a.nav-link(href='page_general_search_2.html')  Search 2
											li.nav-item
												a.nav-link(href='page_general_search_3.html')  Search 3
											li.nav-item
												a.nav-link(href='page_general_search_4.html')  Search 4
											li.nav-item
												a.nav-link(href='page_general_search_5.html')  Search 5
									li.nav-item
										a.nav-link(href='page_general_pricing.html')
											i.icon-tag
											span.title Pricing
									li.nav-item
										a.nav-link(href='page_general_pricing_2.html')
											i.icon-tag
											span.title Pricing 2
									li.nav-item
										a.nav-link(href='page_general_faq.html')
											i.icon-wrench
											span.title FAQ
									li.nav-item
										a.nav-link(href='page_general_blog.html')
											i.icon-pencil
											span.title Blog
									li.nav-item
										a.nav-link(href='page_general_blog_post.html')
											i.icon-note
											span.title Blog Post
									li.nav-item
										a.nav-link(href='page_general_invoice.html')
											i.icon-envelope
											span.title Invoice
									li.nav-item
										a.nav-link(href='page_general_invoice_2.html')
											i.icon-envelope
											span.title Invoice 2
							li.nav-item
								a.nav-link.nav-toggle(href='javascript:;')
									i.icon-settings
									span.title System
									span.arrow
								ul.sub-menu
									li.nav-item
										a.nav-link(href='page_cookie_consent_1.html')
											span.title Cookie Consent 1
									li.nav-item
										a.nav-link(href='page_cookie_consent_2.html')
											span.title Cookie Consent 2
									li.nav-item
										a.nav-link(href='page_system_coming_soon.html', target='_blank')
											span.title Coming Soon
									li.nav-item
										a.nav-link(href='page_system_404_1.html')
											span.title 404 Page 1
									li.nav-item
										a.nav-link(href='page_system_404_2.html', target='_blank')
											span.title 404 Page 2
									li.nav-item
										a.nav-link(href='page_system_404_3.html', target='_blank')
											span.title 404 Page 3
									li.nav-item
										a.nav-link(href='page_system_500_1.html')
											span.title 500 Page 1
									li.nav-item
										a.nav-link(href='page_system_500_2.html', target='_blank')
											span.title 500 Page 2
						// END SIDEBAR MENU
					// END SIDEBAR
				.page-fixed-main-content
					// **** BEGIN PAGE BASE CONTENT****
					.note.c
						#form_wizard_1.portlet.light.bordered
							.portlet-title
								.caption
									i.icon-layers.font-red
									span.caption-subject.font-red.bold.uppercase
										| Ci Wizard -
										span.step-title  Step 1 of 4 
							.portlet-body.form
								form#submit_form.form-horizontal(action='#', method='POST')
									.form-wizard
										.form-body
											ul.nav.nav-pills.nav-justified.steps
												li
													a.step(href='#tab1', data-toggle='tab')
														span.number  1 
														span.desc
															i.fa.fa-check
															| Project  Setup
												li
													a.step(href='#tab2', data-toggle='tab')
														span.number  2 
														span.desc
															i.fa.fa-check
															|  Upload
												li
													a.step.active(href='#tab3', data-toggle='tab')
														span.number  3 
														span.desc
															i.fa.fa-check
															|  Build
												li
													a.step(href='#tab4', data-toggle='tab')
														span.number  4 
														span.desc
															i.fa.fa-check
															|  result
											#bar.progress.progress-striped(role='progressbar')
												.progress-bar.progress-bar-success  
											.tab-content
												.alert.alert-danger.display-none
													button.close(data-dismiss='alert')
													|  You have some form errors. Please check below.
												.alert.alert-success.display-none
													button.close(data-dismiss='alert')
													|  Your form validation is successful!
												#tab1.tab-pane.active 
													h3.block Provide your Project details
													.form-group
														label.control-label.col-md-3
															| Project Name
															span.required  * 
														.col-md-4
															input#projname.form-control(type='text', name='Project',minlength="3", required='' )
															span.help-block




													.form-group.form-md-checkboxes
														label.control-label.col-md-3 
															| Service Select
														.md-checkbox-inline
															.md-checkbox.has-success(style="pointer-events: none;")
																input#checkNodeJS.md-check(type='checkbox', checked='',style="pointer-events: none;")
																label(for='checkNodeJS')
																	span.check
																	span.box
																	|  Node JS GC
															.md-checkbox.has-error
																input#checkedAudit.md-check(type='checkbox',onclick=("_audit=(_audit? false:true);"))
																label(for='checkedAudit')
																	span
																	span.check
																	span.box
																	|  Audit
													// BEGIN Portlet PORTLET
													.portlet-title
													.caption(style="color:#e73d4a;")
														i.fa.fa-info-circle
														|   Audit *Experimental
													.tools
														a.collapse(href='javascript:;', data-original-title='', title='') 
													.portlet-body.display-hide(style='display: block;')
													p
														| right now only support Express and must have this line  of code in it for specify enviroment port
													.code_body.portlet-body(style="margin-top:20px;")
														| var port = process.argv[2] || '5000';<br>
														| server.listen(port);
													// END Portlet PORTLET
												#tab2.tab-pane
													h3.block Provide your profile details
													.form-group(style='display:none')
														label.control-label.col-md-3
															| Service Options
															span.required  * 
														.col-md-4
															.checkbox-list
																
																label
																	input(type='checkbox', name='payment[]', value='1', data-title='Auto-Pay with this Credit Card.')
																	|  Auto-Pay with this Credit Card
																label
																	input(type='checkbox', name='payment[]', value='2', data-title='Email me monthly billing.')
																	|  Email me monthly billing
															#form_payment_error  

													.form-group
														.col-md-12(style='padding:20px')
															
															form(required='',action='/api/v1/upload', method='post', enctype='multipart/form-data', style='display:none')
															form#myAwesomeDropzone.dropzone.dropzone-file-area.dz-clickable(action='/api/v1/upload', method='post', enctype='multipart/form-data', required='')
																h3 Drop your Project here
																h5 File much less than 50 MB
																.fallback
																	input#projname(name='file', type='file', required='')
															input#isupload.form-control(type='text', name='Project',minlength="3",style='visibility:hidden', required='' )
												#tab3.tab-pane
													h2.block Building Status
														.col-md-12
															
													h2.form-section
																										.code_window
													.code_bar
														.code_btn
													.code_body
														.codein_body
															.pre
																.comment#builder # Building 
																.prompt
																	| 
																	span.comment ================================================<br>
																	|
														.bufferload worker $
															span.pulse  _
												
												#tab4.tab-pane
													include partials/result.pug
										
										.form-actions
											.row
												.col-md-offset-3.col-md-9
													a#btnback.btn.default.button-previous(href='javascript:;')
														i.fa.fa-angle-left
														|  Back
													a#btncontinue.btn.btn-outline.green.button-next(href='javascript:;')
														| Continue
														i.fa.fa-angle-right
													a.btn.green.button-submit(href='javascript:;')
														| Submit
														i.fa.fa-check

					// END PAGE BASE CONTENT
				// BEGIN FOOTER
				p.copyright-v2
					| 2018 © Create by Tachid  
					a(target='_blank', href='https://github.com/Telexine/Node-GC-CI') Github
				// BEGIN QUICK SIDEBAR TOGGLER
				button.quick-sidebar-toggler(type='button', data-toggle='collapse')
					span.sr-only Toggle Quick Sidebar
					i.icon-logout
					.quick-sidebar-notification
						span.badge.badge-danger 7
				// END QUICK SIDEBAR TOGGLER
				a.go2top(href='#index')
					i.icon-arrow-up
				// END FOOTER
		// END CONTAINER
		// BEGIN QUICK SIDEBAR
		a.page-quick-sidebar-toggler(href='javascript:;')
			i.icon-login
		.page-quick-sidebar-wrapper(data-close-on-body-click='false')
			.page-quick-sidebar
				ul.nav.nav-tabs
					li.active
						a(href='javascript:;', data-target='#quick_sidebar_tab_1', data-toggle='tab')
							| Build
							span.badge.badge-danger 2
					li
						a(href='javascript:;', data-target='#quick_sidebar_tab_2', data-toggle='tab')
							| Report
							span.badge.badge-success 7
					li.dropdown
						a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
							| More
							i.fa.fa-angle-down
						ul.dropdown-menu.pull-right
							li
								a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
									i.icon-bell
									|  Alerts
							li
								a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
									i.icon-info
									|  Notifications
							li
								a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
									i.icon-speech
									|  Activities
							li.divider
							li
								a(href='javascript:;', data-target='#quick_sidebar_tab_3', data-toggle='tab')
									i.icon-settings
									|  Settings
				.tab-content
					#quick_sidebar_tab_1.tab-pane.active.page-quick-sidebar-chat
						.page-quick-sidebar-chat-users(data-rail-color='#ddd', data-wrapper-class='page-quick-sidebar-list')
							h3.list-heading Build#
							ul.media-list.list-items
								li.media
									.media-status
										span.badge.badge-success 8
									img.media-object(src='public/assets/layouts/layout/img/avatar3.jpg', alt='...')
									.media-body
										h4.media-heading Bob Nilson
										.media-heading-sub  Project Manager 
							h3.list-heading Customers
							ul.media-list.list-items
								li.media
									.media-status
										span.badge.badge-warning 2
									img.media-object(src='public/assets/layouts/layout/img/avatar6.jpg', alt='...')
									.media-body
										h4.media-heading Lara Kunis
										.media-heading-sub  CEO, Loop Inc 
										.media-heading-small  Last seen 03:10 AM 
						.page-quick-sidebar-item
							.page-quick-sidebar-chat-user
								.page-quick-sidebar-nav
									a.page-quick-sidebar-back-to-list(href='javascript:;')
										i.icon-arrow-left
										| Back
								.page-quick-sidebar-chat-user-messages
									.post.out
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar3.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Bob Nilson
											span.datetime 20:15
											span.body  When could you send me the report ? 
									.post.in
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar2.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Ella Wong
											span.datetime 20:15
											span.body  Its almost done. I will be sending it shortly 
									.post.out
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar3.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Bob Nilson
											span.datetime 20:15
											span.body  Alright. Thanks! :) 
									.post.in
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar2.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Ella Wong
											span.datetime 20:16
											span.body  You are most welcome. Sorry for the delay. 
									.post.out
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar3.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Bob Nilson
											span.datetime 20:17
											span.body  No probs. Just take your time :) 
									.post.in
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar2.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Ella Wong
											span.datetime 20:40
											span.body  Alright. I just emailed it to you. 
									.post.out
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar3.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Bob Nilson
											span.datetime 20:17
											span.body  Great! Thanks. Will check it right away. 
									.post.in
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar2.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Ella Wong
											span.datetime 20:40
											span.body  Please let me know if you have any comment. 
									.post.out
										img.avatar(alt='', src='public/assets/layouts/layout/img/avatar3.jpg')
										.message
											span.arrow
											a.name(href='javascript:;') Bob Nilson
											span.datetime 20:17
											span.body  Sure. I will check and buzz you if anything needs to be corrected. 
								.page-quick-sidebar-chat-user-form
									.input-group
										input.form-control(type='text', placeholder='Type a message here...')
										.input-group-btn
											button.btn.green(type='button')
												i.icon-paper-clip
					#quick_sidebar_tab_2.tab-pane.page-quick-sidebar-alerts
						.page-quick-sidebar-alerts-list
							h3.list-heading General
							ul.feeds.list-items
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-info
													i.fa.fa-check
											.cont-col2
												.desc
													| You have 4 pending tasks.
													span.label.label-sm.label-warning
														| Take action
														i.fa.fa-share
									.col2
										.date  Just now 
								li
									a(href='javascript:;')
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-success
														i.fa.fa-bar-chart-o
												.cont-col2
													.desc  Finance Report for year 2013 has been released. 
										.col2
											.date  20 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-danger
													i.fa.fa-user
											.cont-col2
												.desc  You have 5 pending membership that requires a quick review. 
									.col2
										.date  24 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-info
													i.fa.fa-shopping-cart
											.cont-col2
												.desc
													| New order received with
													span.label.label-sm.label-success  Reference Number: DR23923 
									.col2
										.date  30 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-success
													i.fa.fa-user
											.cont-col2
												.desc  You have 5 pending membership that requires a quick review. 
									.col2
										.date  24 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-info
													i.fa.fa-bell-o
											.cont-col2
												.desc
													| Web server hardware needs to be upgraded.
													span.label.label-sm.label-warning  Overdue 
									.col2
										.date  2 hours 
								li
									a(href='javascript:;')
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-default
														i.fa.fa-briefcase
												.cont-col2
													.desc  IPO Report for year 2013 has been released. 
										.col2
											.date  20 mins 
							h3.list-heading System
							ul.feeds.list-items
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-info
													i.fa.fa-check
											.cont-col2
												.desc
													| You have 4 pending tasks.
													span.label.label-sm.label-warning
														| Take action
														i.fa.fa-share
									.col2
										.date  Just now 
								li
									a(href='javascript:;')
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-danger
														i.fa.fa-bar-chart-o
												.cont-col2
													.desc  Finance Report for year 2013 has been released. 
										.col2
											.date  20 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-default
													i.fa.fa-user
											.cont-col2
												.desc  You have 5 pending membership that requires a quick review. 
									.col2
										.date  24 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-info
													i.fa.fa-shopping-cart
											.cont-col2
												.desc
													| New order received with
													span.label.label-sm.label-success  Reference Number: DR23923 
									.col2
										.date  30 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-success
													i.fa.fa-user
											.cont-col2
												.desc  You have 5 pending membership that requires a quick review. 
									.col2
										.date  24 mins 
								li
									.col1
										.cont
											.cont-col1
												.label.label-sm.label-warning
													i.fa.fa-bell-o
											.cont-col2
												.desc
													| Web server hardware needs to be upgraded.
													span.label.label-sm.label-default  Overdue 
									.col2
										.date  2 hours 
								li
									a(href='javascript:;')
										.col1
											.cont
												.cont-col1
													.label.label-sm.label-info
														i.fa.fa-briefcase
												.cont-col2
													.desc  IPO Report for year 2013 has been released. 
										.col2
											.date  20 mins 
					#quick_sidebar_tab_3.tab-pane.page-quick-sidebar-settings
						.page-quick-sidebar-settings-list
							h3.list-heading General Settings
							ul.list-items.borderless
								li
									| Enable Notifications
									input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								li
									| Allow Tracking
									input.make-switch(type='checkbox', data-size='small', data-on-color='info', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								li
									| Log Errors
									input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								li
									| Auto Sumbit Issues
									input.make-switch(type='checkbox', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								li
									| Enable SMS Alerts
									input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='success', data-on-text='ON', data-off-color='default', data-off-text='OFF')
							h3.list-heading System Settings
							ul.list-items.borderless
								li
									| Security Level
									select.form-control.input-inline.input-sm.input-small
										option(value='1') Normal
										option(value='2', selected='') Medium
										option(value='e') High
								li
									| Failed Email Attempts
									input.form-control.input-inline.input-sm.input-small(value='5')
								li
									| Secondary SMTP Port
									input.form-control.input-inline.input-sm.input-small(value='3560')
								li
									| Notify On System Error
									input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='danger', data-on-text='ON', data-off-color='default', data-off-text='OFF')
								li
									| Notify On SMTP Error
									input.make-switch(type='checkbox', checked='', data-size='small', data-on-color='warning', data-on-text='ON', data-off-color='default', data-off-text='OFF')
							.inner-content
								button.btn.btn-success
									i.icon-settings
									|  Save Changes
		// END QUICK SIDEBA
		//
			if lt IE 9
			script(src='public/assets/global/plugins/respond.min.js')
			script(src='public/assets/global/plugins/excanvas.min.js')
			script(src='public/assets/global/plugins/ie8.fix.min.js')
		// BEGIN CORE PLUGINS
		script(src='public/assets/global/plugins/jquery.min.js', type='text/javascript')
		script(src='public/assets/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='public/assets/global/plugins/js.cookie.min.js', type='text/javascript')
		script(src='public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
		script(src='public/assets/global/plugins/jquery.blockui.min.js', type='text/javascript')
		script(src='public/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
		// END CORE PLUGINS
		// BEGIN THEME GLOBAL SCRIPTS
		script(src='public/assets/global/scripts/app.min.js', type='text/javascript')
		// END THEME GLOBAL SCRIPTS
		// BEGIN THEME LAYOUT SCRIPTS
		script(src='public/assets/layouts/layout6/scripts/layout.min.js', type='text/javascript')
		script(src='public/assets/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
		script(src='public/assets/layouts/global/scripts/quick-nav.min.js', type='text/javascript')
		// END THEME LAYOUT SCRIPTS
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js")
		script(src='node_modules/chart.js/dist/Chart.min.js' type='text/javascript')
		script(src='public/js/script.js' type='text/javascript')
		script.

		
			let LoadAllGraph = function(build_id){
				if(!build_id) return console.log("Can't find Build ID");;
				window.myLine  = {};let ctx = {};
				let logtype = ["mem","ns","os","cs","los","as"];
				let logdesc = ["Memory Allocator","New space","Old space","Code space","Large object space","All spaces"]
				for(tp in logtype){
					ctx[tp] = document.getElementById(logtype[tp]+'Chart').getContext('2d');
					console.log(ctx[tp]);
					window.myLine[tp] = new Chart(ctx[tp], cfg[tp]);
					window.myLine[tp].options.title.text = logdesc[tp];
					fetchlog(build_id,window.myLine[tp],logtype[tp]);
				}
			};
						var color = Chart.helpers.color;
						var cfg = {};

						 for(let i = 0 ; i<6;i++){
							  cfg[i] = {
								
								type: 'line',
								data: {
									datasets: [{
										label: 'Avaliable',
										backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
										borderColor: window.chartColors.red,
										fill: false
									},{
										label: 'Used',
										backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
										borderColor: window.chartColors.grey,
										fill: false 
									
									}, {
										label: 'Commited',
										backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
										borderColor: window.chartColors.green,
										fill: false
									}]
								},
								options: {
									maintainAspectRatio: false,
									responsive: true,
									title: {
										display: true,
										text: 'Memory Allocator'
									},
									scales: {
										xAxes: [{
											type: 'time',
											display: true,
											scaleLabel: {
												display: true,
											},
											ticks: {
												major: {
													fontStyle: 'bold',
													fontColor: '#FF0000'
												}
											}
										}],
										yAxes: [{
											ticks: {
												beginAtZero: true,
												// Include Unit 
												callback: function(value, index, values) {
													return  niceBytes(value);
												}
											},	
											display: true,
											scaleLabel: {
												display: true,
												labelString: "Size"
												}
										}
									]
									}
								}
							
							};}
							const units = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

								function niceBytes(x){
									let l = 0, n = parseInt(x, 10) || 0;

									while(n >= 1024 && ++l)
										n = n/1024;
									return(n.toFixed(n >= 10 || l < 1 ? 0 : 1) + ' ' + units[l]);
								}
					

					let fetchlog = function(Build,graph,type){
						let BuildID=Build;
						let graphObj =graph;
						//mem
						console.log(BuildID);
						Rx.DOM.ajax({ url: `/api/v1/reports/${BuildID}/${type}`, responseType: 'json'})
							.subscribe(
								function (data) {
									console.log('Backend connected');
									
						 
									data.response.forEach(function (log) {
										
							 
											graphObj.data.datasets[0].data.push({
														x: log.TimeStamp,
														y: log.available,
											});
											
											graphObj.data.datasets[1].data.push({
														x: log.TimeStamp,
														y: log.used,
											});
											graphObj.data.datasets[2].data.push({
														x: log.TimeStamp,
														y: log.committed,
											});
						 
									
											
									});
							
								graphObj.update();
								},
								function (error) {
								// Log the error
								console.log(error);
								}
							);
						}
					//temp	
				function newDate(days) {
					return moment().add(days, 'd').toDate();
				}

				function newDateString(days) {
					return moment().add(days, 'd').format();
				}
