doctype html
html
  include base.pug
  body.page-md
    include partials/header.pug
      
      include includes/breadcrumbs.pug
      include home.pug

      include partials/footer.pug

      block scripts
          script(src='/public/js/jquery-3.3.1.js')