<!-- BEGIN CONTAINER-->
<div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="page-content-fixed-header">
                <!-- BEGIN BREADCRUMBS-->
                <ul class="page-breadcrumb">
                    <li><a href="#">Create Unit tested</a></li>
                </ul>
                <!-- END BREADCRUMBS-->
                <div class="content-header-menu">
                    <!-- BEGIN DROPDOWN AJAX MENU-->
                    <div class="dropdown-ajax-menu btn-group"><button class="btn dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></button>
                        <ul class="dropdown-menu-v2">
                            <li><a href="start.html">Application</a></li>
                            <li><a href="start.html">Reports</a></li>
                            <li><a href="start.html">Templates</a></li>
                            <li><a href="start.html">Settings</a></li>
                        </ul>
                    </div>
                    <!-- END DROPDOWN AJAX MENU-->
                    <!-- BEGIN MENU TOGGLER--><button class="menu-toggler responsive-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="toggle-icon"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></button>
                    <!-- END MENU TOGGLER-->
                </div>
            </div>
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR-->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing-->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed-->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU-->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)-->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode-->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode-->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing-->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded-->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed-->
                    <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-home"></i><span class="title">Dashboard</span><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="nav-item start"><a class="nav-link" href="index.html"><i class="icon-bar-chart"></i><span class="title">Dashboard</span></a></li>
                            </ul>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">Features</h3>
                        </li>
                        <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-user"></i><span class="title">User</span><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="nav-item"><a class="nav-link" href="page_user_profile_1.html"><i class="icon-user"></i><span class="title">Profile 1</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_user_profile_1_account.html"><i class="icon-user-female"></i><span class="title">Profile 1 Account</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_user_profile_1_help.html"><i class="icon-user-following"></i><span class="title">Profile 1 Help</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_user_profile_2.html"><i class="icon-users"></i><span class="title">Profile 2</span></a></li>
                                <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-notebook"></i><span class="title">Login</span><span class="arrow"></span></a>
                                    <ul class="sub-menu">
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_1.html" target="_blank"> Login Page 1</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_2.html" target="_blank"> Login Page 2</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_3.html" target="_blank"> Login Page 3</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_4.html" target="_blank"> Login Page 4</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_5.html" target="_blank"> Login Page 5</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_user_login_6.html" target="_blank"> Login Page 6</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="page_user_lock_1.html" target="_blank"><i class="icon-lock"></i><span class="title">Lock Screen 1</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_user_lock_2.html" target="_blank"><i class="icon-lock-open"></i><span class="title">Lock Screen 2</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-social-dribbble"></i><span class="title">General</span><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="nav-item"><a class="nav-link" href="page_general_about.html"><i class="icon-info"></i><span class="title">About</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_contact.html"><i class="icon-call-end"></i><span class="title">Contact</span></a></li>
                                <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-notebook"></i><span class="title">Portfolio</span><span class="arrow"></span></a>
                                    <ul class="sub-menu">
                                        <li class="nav-item"><a class="nav-link" href="page_general_portfolio_1.html"> Portfolio 1</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_portfolio_2.html"> Portfolio 2</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_portfolio_3.html"> Portfolio 3</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_portfolio_4.html"> Portfolio 4</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-magnifier"></i><span class="title">Search</span><span class="arrow"></span></a>
                                    <ul class="sub-menu">
                                        <li class="nav-item"><a class="nav-link" href="page_general_search.html"> Search 1</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_search_2.html"> Search 2</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_search_3.html"> Search 3</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_search_4.html"> Search 4</a></li>
                                        <li class="nav-item"><a class="nav-link" href="page_general_search_5.html"> Search 5</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="page_general_pricing.html"><i class="icon-tag"></i><span class="title">Pricing</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_pricing_2.html"><i class="icon-tag"></i><span class="title">Pricing 2</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_faq.html"><i class="icon-wrench"></i><span class="title">FAQ</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_blog.html"><i class="icon-pencil"></i><span class="title">Blog</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_blog_post.html"><i class="icon-note"></i><span class="title">Blog Post</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_invoice.html"><i class="icon-envelope"></i><span class="title">Invoice</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_general_invoice_2.html"><i class="icon-envelope"></i><span class="title">Invoice 2</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link nav-toggle" href="javascript:;"><i class="icon-settings"></i><span class="title">System</span><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="nav-item"><a class="nav-link" href="page_cookie_consent_1.html"><span class="title">Cookie Consent 1</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_cookie_consent_2.html"><span class="title">Cookie Consent 2</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_coming_soon.html" target="_blank"><span class="title">Coming Soon</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_404_1.html"><span class="title">404 Page 1</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_404_2.html" target="_blank"><span class="title">404 Page 2</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_404_3.html" target="_blank"><span class="title">404 Page 3</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_500_1.html"><span class="title">500 Page 1</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="page_system_500_2.html" target="_blank"><span class="title">500 Page 2</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU-->
                </div>
                <!-- END SIDEBAR-->
            </div>
            <div class="page-fixed-main-content">
                <!-- **** BEGIN PAGE BASE CONTENT****-->
                <div class="note c">
                    <div class="portlet light bordered" id="form_wizard_1">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-layers font-red"></i><span class="caption-subject font-red bold uppercase">Ci Wizard -<span class="step-title"> Step 1 of 4 </span></span>
                            </div>
                            <div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"><i class="icon-cloud-upload"></i></a><a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"><i class="icon-wrench"></i></a><a class="btn btn-circle btn-icon-only btn-default"
                                    href="javascript:;"><i class="icon-trash"></i></a></div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" id="submit_form" action="#" method="POST" novalidate="novalidate">
                                <div class="form-wizard">
                                    <div class="form-body">
                                        <ul class="nav nav-pills nav-justified steps">
                                            <li class="active"><a class="step" href="#tab1" data-toggle="tab" aria-expanded="true"><span class="number"> 1 </span><span class="desc"><i class="fa fa-check"></i>Project  Setup</span></a></li>
                                            <li><a class="step" href="#tab2" data-toggle="tab"><span class="number"> 2 </span><span class="desc"><i class="fa fa-check"></i> Upload</span></a></li>
                                            <li><a class="step active" href="#tab3" data-toggle="tab"><span class="number"> 3 </span><span class="desc"><i class="fa fa-check"></i> Build</span></a></li>
                                            <li><a class="step" href="#tab4" data-toggle="tab"><span class="number"> 4 </span><span class="desc"><i class="fa fa-check"></i> result</span></a></li>
                                        </ul>
                                        <div class="progress progress-striped" id="bar" role="progressbar">
                                            <div class="progress-bar progress-bar-success" style="width: 25%;"> </div>
                                        </div>
                                        <div class="tab-content">
                                            <div class="alert alert-danger display-none"><button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.</div>
                                            <div class="alert alert-success display-none"><button class="close" data-dismiss="alert"></button> Your form validation is successful!</div>
                                            <div class="tab-pane active" id="tab1">
                                                <h3 class="block">Provide your Project details</h3>
                                                <div class="form-group"><label class="control-label col-md-3">Project Name<span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-4"><input class="form-control" id="projname" type="text" name="Project" minlength="3" required="" aria-required="true" /><span class="help-block"></span></div>
                                                </div>
                                                <div class="form-group form-md-checkboxes"><label class="control-label col-md-3"> Service Select</label>
                                                    <div class="md-checkbox-inline">
                                                        <div class="md-checkbox has-success"><input class="md-check" id="checkboxNodeJS" type="checkbox" checked="" /><label for="checkboxNodeJS"><span class="check"></span><span class="box"></span> Node JS</label></div>
                                                        <div class="md-checkbox has-error"><input class="md-check" id="checkboxMongod" type="checkbox" /><label for="checkboxMongod"><span></span><span class="check"></span><span class="box"></span> Mongodb</label></div>
                                                        <div class="md-checkbox has-info"><input class="md-check" id="checkboxMysql" type="checkbox" /><label for="checkboxMysql"><span></span><span class="check"></span><span class="box"></span> My sql</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab2">
                                                <h3 class="block">Provide your profile details</h3>
                                                <div class="form-group" style="display:none;"><label class="control-label col-md-3">Service Options<span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-4">
                                                        <div class="checkbox-list"><label><input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card."/> Auto-Pay with this Credit Card</label><label><input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing."/> Email me monthly billing</label></div>
                                                        <div
                                                            id="form_payment_error"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12" style="padding:20px;">
                                                    <form class="dropzone dropzone-file-area dz-clickable" id="myAwesomeDropzone" action="/api/upload" method="post" enctype="multipart/form-data" required="" aria-required="true">
                                                        <h3>Drop your Project here</h3>
                                                        <h5>File much less than 50 MB</h5>
                                                        <div class="dz-default dz-message"><span>or click here </span></div>
                                                    </form><input class="form-control" id="isupload" type="text" name="Project" minlength="3" style="visibility:hidden;" required="" aria-required="true" /></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <h2 class="block">Building Status
                                                <div class="col-md-12"></div>
                                            </h2>
                                            <h2 class="form-section">
                                                <div class="code_window"></div>
                                            </h2>
                                            <div class="code_bar">
                                                <div class="code_btn"></div>
                                            </div>
                                            <div class="code_body">
                                                <div class="codein_body">
                                                    <div class="pre">
                                                        <div class="comment" id="builder">Building..</div>
                                                        <div class="prompt"><span class="comment">================================================<br/></span></div>
                                                    </div>
                                                </div>
                                                <div class="bufferload">worker $<span class="pulse"> _</span></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="portlet light portlet-fit bordered">
                                                        <div class="portlet-title">
                                                            <div class="caption"><i class="icon-cursor font-dark hide"></i><span class="caption-subject font-dark bold uppercase">GC General Stats </span></div>
                                                            <div class="actions"><a class="btn btn-sm btn-circle red easy-pie-chart-reload" href="javascript:;"><i class="fa fa-repeat"></i> Reload</a></div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="memChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="nsChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="osChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="csChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="losChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div class="portlet-body">
                                                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0;"></div>
                                                                </div>
                                                            </div><canvas class="chartjs-render-monitor" id="asChart" width="971" height="300" style="display: block; width: 971px; height: 300px;"></canvas></div>
                                                        <div id="hc_mem" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9"><a class="btn default button-previous disabled" id="btnback" href="javascript:;" style="display: none;"><i class="fa fa-angle-left"></i> Back</a><a class="btn btn-outline green button-next" id="btncontinue" href="javascript:;">Continue<i class="fa fa-angle-right"></i></a>
                                            <a
                                                class="btn green button-submit" href="javascript:;" style="display: none;">Submit<i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <p>A black page template with a minimal dependency assets to use as a base for any custom page you create</p>
            </div>
            <!-- END PAGE BASE CONTENT-->
        </div>
        <!-- BEGIN FOOTER-->
        <p class="copyright-v2">2016 &copy; Metronic Theme By<a target="_blank" href="http://keenthemes.com">Keenthemes</a><a href=" " title=" data" target="_blank">data!</a></p>
        <!-- BEGIN QUICK SIDEBAR TOGGLER--><button class="quick-sidebar-toggler" type="button" data-toggle="collapse"><span class="sr-only">Toggle Quick Sidebar</span><i class="icon-logout"></i><div class="quick-sidebar-notification"><span class="badge badge-danger">7</span></div></button>
        <!-- END QUICK SIDEBAR TOGGLER--><a class="go2top" href="#index" style="display: none;"><i class="icon-arrow-up"></i></a>
        <!-- END FOOTER-->
    </div>
    </div>
